body{
    background-image: url("/vidflow/vidflow_background1.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    height: 100vh;
    margin: 0;
}

.logo{
    display: block;
    margin: 0 auto;
    width: 250px;
    height: auto;
    margin-top: 150px;
    margin-bottom: 30px;
}

.registration{
    background-color: #c0c0c0;
    border-radius: 20px;
    text-align: center;
    padding: 100px;
}

.field{
    border-radius: 20px;
    border: 2px solid black;
    background-color: #f7f5ed;
    width: 300px;
    padding: 10px;
}