body{
    background-color: #E3E1E1;
}

.headerelements{
    display: inline-block;
    vertical-align: middle;
}

#menuicon{
    margin-left: 2%;
    width: 2.6%;
    height: auto;
}

#officiallogo{
    margin-left: 2.5%;
    width: 15%;
    height: auto;
}

#searchpart {
    margin-left: 10%;
    display: inline-block;
}

#searchbar {
    height: 40px;
    border: 2px solid black;
    border-radius: 12px;
    background-color: #C9C7C7;
    margin-top: 1.5%;
    width: 600px;
    font-family: "Inder";
    text-align: center;
}

#search {
    height: 42px;
    border-radius: 12px;
    border: 2px solid black;
    background-color: #C9C7C7;
    margin-left: 10px;
    font-family: "Inder";
    cursor: pointer;
}

#userprofilepic{
    width: 45px;
    height: auto;
    border-radius: 10px;
    margin-right: 5px;
}

#profileusername{
    margin-right: 15px;
    font-family: "Inder";
}

#logout{
    width: 30px;
    height: auto;
    border: none;
    margin: 0;
    padding: 0;
    background: none;
    cursor: pointer;
    float: right;
}

#logouticon{
    width: 30px;
}

#usercontrol{
    float: right;
    margin-right: 20px;
    margin-top: 5px;
}

.card{
    background-color: #E3E1E1;
    border: none;
    text-align: center;
}

.card-body{
}

.video-thumbnail{
    background: linear-gradient(to bottom, #BE0606, #7a0202) border-box, white padding-box;
    border: 4px solid transparent;
    border-radius: 30px;
}

.video-details{
    margin-top: 5%;
}

.video-uploader-pic{
    width: 20%;
    border-radius: 30px;
    float: left;
}

.video-uploader-name{
    vertical-align: middle;
    font-size: 90%;
}

@media only screen and (max-width: 750px) {
    body {
        background-color: #E3E1E1;
    }

    .headerelements {
        display: inline-block;
        text-align: center;
    }

    #menuicon {
        margin-left: 2%;
        width: 7%;
        height: auto;
    }

    #officiallogo {
        margin-left: 2.5%;
        width: 35%;
        height: auto;
    }

    #searchpart {
        margin-left: 0;
        display: inline-block;
        width: 90%;
        text-align: center;
    }

    #searchbar {
        height: 30px;
        border: 2px solid black;
        border-radius: 12px;
        background-color: #C9C7C7;
        margin-top: 2%;
        width: 70%;
        font-family: "Inder";
        text-align: center;
    }

    #search {
        height: 35px;
        border-radius: 12px;
        border: 2px solid black;
        background-color: #C9C7C7;
        margin-left: 5px;
        font-family: "Inder";
    }

    #userprofilepic {
        width: 35px;
        height: auto;
        border-radius: 10px;
    }

    #profileusername {
        font-size: 14px;
        margin-right: 10px;
        font-family: "Inder";
    }

    #logout {
        width: 25px;
        height: auto;
        border: none;
        margin-top: 0;
        padding: 0;
        background: none;
        cursor: pointer;
    }

    #logouticon {
        width: 25px;
    }

    #usercontrol {
        float: right; 
        margin-right: 10px;
    }
}